flows.json
[{"id":"3af82246.3634ae","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"5964d57c.d41bfc","type":"inject","z":"3af82246.3634ae","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":250,"y":180,"wires":[["52140d9d.b84774"]]},{"id":"52140d9d.b84774","type":"debug","z":"3af82246.3634ae","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":460,"y":180,"wires":[]},{"id":"e89bb91e.799688","type":"http in","z":"3af82246.3634ae","name":"","url":"/hello","method":"get","upload":false,"swaggerDoc":"","x":300,"y":340,"wires":[["7851772a.9dea98"]]},{"id":"5c1a696.fb34398","type":"http response","z":"3af82246.3634ae","name":"","statusCode":"","headers":{},"x":640,"y":340,"wires":[]},{"id":"7851772a.9dea98","type":"change","z":"3af82246.3634ae","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"text\":\"Hello\"}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":470,"y":340,"wires":[["5c1a696.fb34398"]]}]